/* estilos  */

/* estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.alert{
    display: block;
    padding: 12px 20px;
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    background: #fff;
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.contenedor h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: #601abc;
}

.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.contenido .info,
.contenido .formulario{
    width: 50%;
}

/* ===========================================
Estilos info
============================================== */
.info{
    padding-left: 10px;
}

.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}

.info .col .icono{
    color: #601abc;
    margin-right: 10px;
}

.info .col p{
    color: #999;
}

.info .redes-s{
    width: 100%;
    overflow: hidden;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
}
.info .redes-s a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #601abc;
    color: #fff;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
}
.info .redes-s a:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
    /* background: #000; */
}

/* ===========================================
Estilos formulario
============================================== */

.formulario{
    padding-left: 10px;
}

.formulario input[type='text'],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    outline: 0;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.formulario input[type='text']:focus,
.formulario textarea:focus{
    border: 1px solid #601abc;
}

.formulario button{
    padding: 12px 30px;
    border: transparent;
    background: #601abc;
    color: #fff;
    cursor: pointer;
    float: right;
}


@media (max-width: 520px){
   .contenedor{
       padding: 40px 20px;
       margin-top: 20px;
   }

   .contenido .info,
   .contenido .formulario{
       width: 100%;
       padding: 0px;
   }

   .contenido .info{
       margin-bottom: 30px;
   }
}

@media (max-width: 800px){
  
    .contenido .info,
    .contenido .formulario{
        width: 100%;
        padding: 0px;
    }
 
    .contenido .info{
        margin-bottom: 30px;
    }
 }
 .contenedor{
     margin-top: 100px;
 }


/* ===========================================
Estilos menu
============================================== */
nav {
    background: white;
    height: 80px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top: 0;
    z-index: 100;
  }
  
  .enlace {
    position: absolute;
    padding: 20px 50px;
  }
  
  .logo {
    height: 60px;
  }
  
  nav ul {
    float: right;
    margin-right: 330px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  li a.active,
  li a:hover {
    transition: .5s;
  
  }
  
  .checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 952px) {
    .enlace {
      padding-left: 20px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    ul {
      position: fixed;
      width: 70%;
      height: 100vh;
      background: rgba(255, 255, 255, 0.623);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      backdrop-filter: blur(80rem, 80rem);
  
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 40px;
      text-size-adjust: 20px;
    }
  
    nav ul li a {
      font-size: 25px;
    }
  
    li a:hover,
    li a.active {
      background: none;
      color: rgb(187, 29, 147);
    }
  
    #check:checked~ul {
      left: 0;
    }
  }