* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  font-family: sans-serif;
}

h1 {
  color:#000000;
  size: 50px;
}

p {
  color:#000000;
}

.imagen-encabezado {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
  /*transition: ease-in-out 0.5s; */
  position: fixed;
  top: 0;
  z-index: 100;
  
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
}

.header-menu {
  font-weight: 300;

}

.nav .header-menu a {
  color:#000000;
  text-decoration:none;
  margin-left: 50px;
  align-items: center;
  text-transform: uppercase;
  }

.iconos {
  width: 100px;
  height: 80px;
  margin-left: 20px;
  float: right;
  z-index: 100;
  cursor: pointer;
  margin-right: 50px;

}

.iconos i {
  font-size: 25px;
  line-height: 80px;
  color: #000000;
  
}

.contenido-header {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-header>img {
  width: 550px;
  animation: ease-in animat 1s;

}

@keyframes animat {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.logo{
  margin-left: 50px;
}
h2{
  color:#000000;
  size: 50px;
  margin: 0 0 0 0;
  
}
#contenido{
  margin-top: 0px;
  width: 100%;
  margin: 0 0 0 0;
}
.card h5{
  text-align: center;
  size: 30px;

}
.card{
  margin-top: 50px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  border-radius: 8px;

}
.Cat_producto{
  margin: 5px;
}
.card img{
  margin-bottom: 20px;

}
.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
}
.card a{
 text-decoration: none;
 color: #000000;
}
/*Footer*/
.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
.container i{
  height: 40px;
  width: 40px;
  
}




