body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.conte_parent{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  
}
.contenedor{
    height: 400px;
    width: 350px;
    box-shadow:0 0 7px #111 ;
    margin: 30px 30px;

}
.contenedor .card{
    height: 150px;
    width: 100%;
    margin-bottom: 100px;
}
.card img{
    margin: auto;
    display: block;
}
.contenedor .monitorlg img{
    height: 250px;
    width: 300px;
}
.contenedor .monitorlg{
     background-color:white;
}

.informacion{
    height: 80px;
    width: 100%;
}
.informacion h1{
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}
.informacion p{
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    color: #555;
}
.precio {
    height:50px;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-precio{
    width: 80px;
}

.carrito{
    font-size: 1.5em;
    color: #555;
}
.imagen-encabezado {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  
  nav {
    width: 100%;
    height: 80px;
    background: #ffffff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    /*transition: ease-in-out 0.5s; */
    position: fixed;
    top: 0;
    z-index: 100;
    
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
  }
  
  .header-menu {
    font-weight: 300;
  
  }
  
  .nav .header-menu a {
    color:#000000;
    text-decoration:none;
    margin-left: 50px;
    align-items: center;
    text-transform: uppercase;
    }
  
  .iconos {
    width: 100px;
    height: 80px;
    margin-left: 20px;
    float: right;
    z-index: 100;
    cursor: pointer;
    margin-right: 50px;
  
  }
  
  .iconos i {
    font-size: 25px;
    line-height: 80px;
    color: #000000;
    
  }
  
  .contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contenido-header>img {
    width: 550px;
    animation: ease-in animat 1s;
  
  }
  
  @keyframes animat {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  .logo{
    margin-left: 50px;
  }