body {
  font-family: sans-serif;

}

h1 {
  color: #000000;
  size: 50px;
}

p {
  color: #000000;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: white;
  height: 80px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
  top: 0;
  z-index: 100;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.logo {
  height: 60px;
}

nav ul {
  float: right;
  margin-right: 330px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

li a.active,
li a:hover {
  transition: .5s;

}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 70%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.623);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    backdrop-filter: blur(80rem, 80rem);

  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 40px;
    text-size-adjust: 20px;
  }

  nav ul li a {
    font-size: 25px;
  }

  li a:hover,
  li a.active {
    background: none;
    color: rgb(187, 29, 147);
  }

  #check:checked~ul {
    left: 0;
  }
}


.imagen-encabezado {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.contenido-header {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-header>img {
  width: 550px;
  animation: ease-in animat 1s;

}

h2 {
  color: #000000;
  size: 50px;
  margin: 0 0 0 0;

}

#contenido {
  margin-top: 0px;
  width: 100%;
  margin: 0 0 0 0;
}

.card h5 {
  text-align: center;
  size: 30px;

}

.card {
  margin-top: 50px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  border-radius: 8px;

}

.Cat_producto {
  margin: 5px;
}

.card img {
  margin-bottom: 20px;

}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
}

.card a {
  text-decoration: none;
  color: #000000;
}

/*Footer*/
.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.container i {
  height: 40px;
  width: 40px;

}
@media (max-width: 952px){
  .imagen-encabezado img{
    width: 100%;
    align-items: center;
    margin-top: -300px;
    margin-left: -500px;
 }
 .imagen-encabezado h1{
   width: 100%;
   float: left;
   margin-left: 60px;
   margin-top: 5rem;
 }
 .imagen-encabezado p{
   width: 70%;
   text-align: center;
 }
}
